[submodule "RandomWalks"]
	path = RandomWalks
	url = https://github.com/LuigiNorp/RandomWalks
[submodule "randomwalks"]
	path = randomwalks
	url = git@github.com:LuigiNorp/RandomWalks.git
[submodule "game_of_life"]
	path = game_of_life
	url = git@github.com:LuigiNorp/Game_Of_Life.git
[submodule "maths"]
	path = maths
	url = git@github.com:LuigiNorp/Maths.git
